<a href="https://colab.research.google.com/github/CindyMG/week4_ip/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_07_Cindy_Gachuhi_Python_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#let us import the pandas library
import pandas as pd

From the following data sources, we will acquire our datasets for analysis:

http://bit.ly/autolib_dataset

https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing

In [ ]:
# let us create a dataframe from the following url:
# http://bit.ly/autolib_dataset

df_url = "http://bit.ly/autolib_dataset"
df = pd.read_csv(df_url)
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
# let us access the hour column from our dataframe
df['hour']

0       11
1        7
2       20
3        4
4       17
        ..
4995    11
4996    16
4997     7
4998    17
4999    10
Name: hour, Length: 5000, dtype: int64

In [ ]:
# Now, we want to identify the most popular hour in which the Blue cars are picked up
# To do this, we are going to use the mode() function
#
df['hour'].mode()

0    21
dtype: int64